{% extends 'base.html' %}
{% load static %}
{% block  main %}


    <div class="app-content content" style="margin-left: 0 !important;">
        <div class="content-wrapper">
            <div class="content-body">
                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">

                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="{% static 'img/logo_diris.png' %}" alt="logo" width="460"
                                             class="img-fluid">
                                    </div>
                                    <h6 class="card-subtitle text-muted text-center pt-2">
                                        <span class="font-weight-bold">CONVOCATORIA CAS 2021-1</span></h6>
                                </div>

                                <div class="card-body collapse show">
                                    <div class="row">
                                        <div class="col-md-4 offset-md-4 text-center">
                                            <h1>Restablecimiento de contraseña exitoso 😀</h1>
                                            <p>Se ha establecido su nueva contraseña. Puede volver a iniciar sesión  en la
                                                <a href="{% url 'index:index' %}"> página de inicio.</a>
                                            </p>

                                            <a href="{% url 'index:index' %}"
                                               class="btn btn-info text-center">Ingresar al sistema</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


{% endblock %}