{% extends 'base.html' %}
{% load static %}
{% block  main %}

    <div class="app-content content" style="margin-left: 0 !important;">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-body">
                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">

                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="{% static 'img/logo_diris.png' %}" alt="logo" width="460"
                                             class="img-fluid">
                                    </div>
                                    <h6 class="card-subtitle text-muted text-center pt-2">
                                        <span class="font-weight-bold">CONVOCATORIA CAS 2021-1</span></h6>
                                </div>

                                <div class="card-body collapse show text-center">
                                    <div class="PasswordResetForm">
                                        <div class="row">
                                            <div class="col-md-4 offset-md-4">
                                                <section class="PasswordResetDone">
                                                    <h3>Recuperación de contraseña.</h3>

                                                    <p>Hemos enviado un correo electrónico con las instrucciones para
                                                        recuperar su contrsaseña</p>

                                                    <a href="{% url 'index:index' %}" class="btn btn-info">Acceder al
                                                        sistema</a>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>




{% endblock %}
{% block static %}

{% endblock static %}