{% extends 'dashboard.html' %}
{% block  container %}

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-body">
                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">

                                <div class="card-body collapse show">
                                    <h2>Contraseña actualizada correctamente</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>




{% endblock %}
{% block static %}

    {#    <script type="application/javascript">#}
    {#        $('#cancel').click(function () {#}
    {#            parent.history.back();#}
    {#            return false;#}
    {#        });#}
    {#    </script>#}
{% endblock static %}