<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DIRIS - Lima Centro</title>
</head>

<body>

<table style="padding: 10px; margin:0 auto; border-collapse: collapse;">
    <tr>

        <td style="background-color: #ecf0f1">
            <div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
                <h2 style="color: #e67e22; margin: 0 0 7px">Estimado(a)</h2>
                <h3>{{ user.first_name }}</h3>
                <h3></h3>
            </div>


            <div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
                <p>Enviamos este mensaje para restablecer su contraseña. Haga clic en el siguiente enlace:</p>

                <p>
                    <a href="https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
                </p>

                <p>Su correo electrónico registrado es:<b>{{ user.email }}</b></p>
            </div>
        </td>
    </tr>
    <tr>
        <td style="background-color: #ecf0f1">
            <hr color=#3498db size=2>
            <span lang="ES-TRAD" style="FONT-SIZE:24pt;COLOR:green;FONT-FAMILY:Webdings">P</span>
            <b><span lang="PT-BR" style="FONT-SIZE:10pt;COLOR:navy;FONT-FAMILY:Wingdings"></span></b><span
                lang="ES-TRAD"
                style="FONT-SIZE:8pt;COLOR:green;FONT-FAMILY:Arial"><b>Antes de imprimir</b> piensa
                en tu responsabilidad y compromiso con el <b>MEDIO AMBIENTE!</b></span>
            <p style="MARGIN:0cm 0cm 0pt"><u><span
                    style="FONT-SIZE:7pt;COLOR:gray;FONT-FAMILY:Arial">NOTIFICACIÓN</span></u>
                <span style="FONT-SIZE:7pt;COLOR:gray;FONT-FAMILY:Arial">: DIRIS - LIMA SUR</span>
                <br>
            </p>

        </td>
    </tr>

    <tr>
        <td style="padding: 0">
            <img style="padding: 0; display: block"
                 src="https://raw.githubusercontent.com/oscdmdz/image-smart-route/master/diris/logo_footer.png"
                 width="100%">
        </td>

    </tr>
</table>
</body>
</html>