{% load i18n updateurl utils  %}


<form method="GET" id="search_form">

    {# Hidden fields #}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}


    {# Visible fields #}
    {% for field in form.visible_fields %}
        {% if field|is_checkbox %}
            <label class="aligned_label" for="{{ field.auto_id }}">{{ field }}{{ field.label }}</label>
        {% elif field.name in stacked_fields %}
            <li class="field">{{ field }}</li>
        {% else %}
            <li class="nav-header">{{ field.label }}</li>
            <li class="field">{{ field }}</li>
        {% endif %}
    {% endfor %}

    {# FilterList #}
    {% for filter in filters %}


        <div class="card ">
            <h6 class=" text-bold-500 mb-1 text-primary">{{ filter.label }}</h6>
            <div class="list-group ">
                {% for choice in filter.choices %}
                    <a id="{{ filter.name }}_{{ choice.value|default:'all' }}_id"
                       class="list-group-item list-group-item-action h6 text-lowercase  {% if  choice.is_selected %} active {% endif %}"
                       style="padding: 8px;"
                            {% if not choice.is_selected %}
                       href="{% update_query_string with filter.name=choice.value 'page'=1 %}"{% endif %}>
                        {# If safe_label not define or safe_label is True #}
                        {% if safe_label|default_if_none:True %}
                            {{ choice.label|safe }}
                        {% else %}
                            {{ choice.label }}
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}


</form>


