{% extends 'base.html' %}
 {% load static %}


{% block main %}


    <style>

       
        .content-wrapper .nav-link {

            background: #4e053814;

            border: 1px solid #1e9ff2 !important;
        }


        .content-wrapper .nav-link:hover {
            background: #fff !important;
            border: 1px solid #0c5f94 !important;
        }

        .content-wrapper .nav-link.active {
            background: #1e9ff2 !important;
            color: #fff !important;
            border: 1px solid #1e9ff2 !important;
        }

        .content-wrapper .tab-content {
            border: 2px solid #1e9ef1 !important;
        }


        .avatar-online i {
            background-color: #69f500 !important;
        }

        .avatar i {
            width: 16px !important;
            height: 16px !important;
        }


        .menu-float {
            margin-top: 3px;
            margin-left: 5px;
        }

        .menu-float .list-group-item {
            padding: 5px 20px;
        }


        @media only screen and (max-width: 600px) {

            .content-entidad {
                display: none;
            }

            #content-main .nav-tabs .nav-item {
                width: 100% !important;
                text-align: center !important;
            }

            #content-main .nav-tabs .nav-item a {
                width: 100% !important;
                text-align: center !important;
            }

            #content-main .nav-tabs {
                margin-bottom: 5px !important;
            }


        }


        .app-content .wizard > .steps > ul > li a {
            position: relative;
            display: block;
            margin-top: 20px;
            margin-bottom: 0 !important;
            padding-top: 52px;
        }

        .app-content .wizard.wizard-notification > .steps > ul > li:before, .app-content .wizard.wizard-notification > .steps > ul > li:after {
            top: 39px;
            width: 50%;
            height: 4px;
            background-color: #3740bf;

        }

        .app-content .wizard > .steps > ul > li.current > a {
            cursor: default;
            color: #5159d2;


            font-weight: bold;
            font-size: 20px;
            text-decoration: underline;
        }

        #validation > .wizard {
            margin-left: 0 !important;
        }

        @media screen and (min-width: 800px) {
            #validation > .wizard {
                padding: 10%;
                margin-left: 0 !important;
            }


        }

        fieldset {
            background: rgb(230 231 249);
            padding: 2% !important;
            margin-bottom: 2%;
            border-radius: 10px;
        }

         

    </style>

    <style>
        .table th, .table td {
            padding: 8px 10px !important;
        }
    </style>



    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light bg-info navbar-shadow">
        <div class="navbar-wrapper">

            <div class="navbar-header" style="background-color: grey;">
    <ul class="nav navbar-nav flex-row w-100 justify-content-center">
        <li class="nav-item mobile-menu d-md-none mr-auto">
            <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                <i class="ft-menu font-large-1"></i>
            </a>
        </li>

        <li class="nav-item text-center">
            <a class="navbar-brand mx-auto" href="{% url 'index:dashboard' %}">
                <img
                    alt="modern admin logo"
                    src="{% static 'img/logominsa.png' %}"
                    width="50%">
            </a>
        </li>

        <li class="nav-item d-md-none">
            <a class="nav-link open-navbar-container" data-toggle="collapse"
               data-target="#navbar-mobile">
                <i class="la la-ellipsis-v"></i>
            </a>
        </li>
    </ul>
</div>

            <div class="navbar-container content" style="background-color: black;">
                <div class="collapse navbar-collapse" id="navbar-mobile">


                    <div class="nav navbar-nav mr-auto " >
                        <p style="
                                background-color: #060707;
                                color: #fff;
                                margin-bottom: 0;
                                {#margin-top: 10px;#}
                                padding: 0 18px;
                                box-shadow: 5px 5px 5px black;font-size: 13px;">

                            <strong>{{ request.session.entidad_nombre }} </strong>
                            <!--Código: {{ request.session.entidad_codigo }}, UGIPRESS = 10000122</p>-->

                    </div>

                    <div class="nav navbar-nav float-righ" style="background-color: black;">

                        <a class="dropdown-toggle nav-link dropdown-user-link"
                           href=""><span class="mr-1">Bienvenido,
                            <span class="user-name text-bold-700">
                                {% if request.session.user_full_name %}
                                    {{ request.session.user_full_name }}
                                {% else %}
                                    {{ request.user.username }}
                                {% endif %}
                            </span></span>
                            <span class="avatar avatar-online " style="width: 40px !important;">
                                <img src="{% static 'img/avatar3.jpg' %}" alt="avatar"
                                     style="border: 1px solid #0918c3; background: #eab9b9;">
                                <i class="la  "></i></span>
                               <!-- <button onclick="location.reload()">Refrescar</button>-->



                        </a>


                        <ul class="list-group  menu-float">
                            <!--<a href="{% url 'password_change' %}" style="border: 1px solid #000;"
                               class="list-group-item list-group-item-action text-white bg-warning">
                                <i class="ft-anchor"></i>
                                Cambiar contraseña
                            </a>-->
                            <a href="{% url 'index:logout' %}" style="border: 1px solid #000;"
                               class="list-group-item list-group-item-action text-white bg-danger">
                                <i class="ft-power"></i>
                                Salir del sistema
                            </a>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
        <div class="text-center">
            {#            <h2 style="background: #e6dfdf; border: 1px solid #d2caca;">#}
            {#                Actualizar mis datos 👇👇#}
            {#            </h2>#}
        </div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                {% include "includes/menu.html" %}
            </ul>
        </div>
    </div>



    {% block  container %}
        <div class="app-content content">


            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-12 mt-5">
                        <div class="content-wrapper mt-5">
                            <div class="content-body text-center">
                                <h1 style="color: rgb(8, 8, 8);">TE DAMOS LA BIENVENIDA AL</h1>
                                <h1 style="color: rgb(19, 18, 18);"><strong>SISTEMA DE RECAUDACIÓN </strong></h1>
                                <br><br><br>

                                <!--<p style="font-size: 150px!important;">👨‍🔧</p>-->
                                <p style="font-size: 150px!important;">📈💰📊</p> 
                                 

                                <h2 style="color: rgb(8, 8, 8);">OGTI - DIRIS LIMA CENTRO</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock container %}


    <footer class="footer footer-static footer-light navbar-border navbar-shadow" style="background-color: black; color: white;">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
                class="float-md-left d-block d-md-inline-block">Copyright  &copy; <span id="copyright"></span>
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>,
                Todos los derechos reservados - DIRIS LIMA CENTRO. </span> 
        </p>
    </footer>

    <!-- jQuery GLOBAL -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Select2 GLOBAL -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock main %}

 