{% extends 'dashboard.html' %}
{% load  paginator i18n %}

{% block  container %}
<style>
    #leyenda {
            margin-left: 20px;
            background-color: grey; 
            color: white; 
        }
        .prioridad-1 {
            background-color: rgb(245, 11, 11); /* Color para Prioridad I */
            color: white; /* Texto en blanco para mejor visibilidad */
        }
        .prioridad-2 {
            background-color: rgb(243, 161, 10); /* Color para Prioridad II */
            color: black; /* Texto en blanco para mejor visibilidad */
        }
        .prioridad-3 {
            background-color: rgb(247, 243, 27); /* Color para Prioridad III */
            color: black; /* Texto en blanco para mejor visibilidad */
        }
        .prioridad-4 {
            background-color: green; /* Color para Prioridad III */
            color: white; /* Texto en blanco para mejor visibilidad */
        }
        .prioridad-5 {
            background-color: rgb(79, 148, 238); /* Color para Prioridad III */
            color: white; /* Texto en blanco para mejor visibilidad */
        }
        .custom-margin {
    margin-right: 50px; /* Ajusta este valor según sea necesario */
}
/* Estilo general */
.table-container {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  overflow: hidden;
  margin-top: 20px;
}

/* Encabezado */
.table thead th {
  background-color: #78a0dd;
  color: #fff;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

/* Filas */
 
 

/* Celdas */
.table td {
  vertical-align: middle;
  font-size: 0.95rem;
}

/* Código de ticket resaltado */
.table td:nth-child(5) {
  font-weight: 600;
  color: #0b81af;
}

/* Botones de opciones */
.table .btn {
  border-radius: 30px;
  padding: 4px 12px;
  font-size: 0.85rem;
}

/* Responsive scroll */
.table-responsive {
  border-radius: 12px;
}
</style>

    <div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <h2>REPORTE CONSOLIDADO POR CLASIFICADOR DE INGRESOS SEGÚN ESTABLECIMIENTOS -RDR</h2>
            <!-- FORMULARIO PDF -->
            <div class="content-header-left col-md-6 col-12 mb-2">
               <div class="content-header-left col-md-12 mb-2 d-flex justify-content-center">

    <form method="get" action="{% url 'reclamo:reporte-pdf-consolidado-admin' %}" 
          class="row g-2 align-items-end"
          style="max-width: 600px; width: 100%;">

        <div class="col-md-5">
            <label class="form-label">Desde:</label>
            <input type="date" name="fecha_inicio" class="form-control form-control-sm" required>
        </div>

        <div class="col-md-5">
            <label class="form-label">Hasta:</label>
            <input type="date" name="fecha_fin" class="form-control form-control-sm" required>
        </div>

        <div class="d-grid gap-2">

    <!-- PDF -->
    <button type="submit"
            formaction="{% url 'reclamo:reporte-pdf-consolidado-admin' %}"
            class="btn btn-danger btn-sm"
            title="Exportar PDF">
        <i class="la la-file-pdf-o"></i>
    </button>

    <!-- EXCEL -->
    <button type="submit"
            formaction="{% url 'reclamo:reporte-excel-consolidado-admin' %}"
            class="btn btn-success btn-sm"
            title="Exportar Excel">
        <i class="la la-file-excel-o"></i>
    </button>

</div>

    </form>

</div>
            </div>

            

        </div>

        <hr>
<div class="content-header row">
            <h2>REPORTE CONSOLIDADO POR CLASIFICADOR DE INGRESOS SEGÚN ESTABLECIMIENTOS - SISMED</h2>
            <!-- FORMULARIO PDF -->
            <div class="content-header-left col-md-6 col-12 mb-2">
               <div class="content-header-left col-md-12 mb-2 d-flex justify-content-center">

    <form method="get" action="{% url 'reclamo:reporte-pdf-consolidado-admin-sismed' %}" 
          class="row g-2 align-items-end"
          style="max-width: 600px; width: 100%;">

        <div class="col-md-5">
            <label class="form-label">Desde:</label>
            <input type="date" name="fecha_inicio" class="form-control form-control-sm" required>
        </div>

        <div class="col-md-5">
            <label class="form-label">Hasta:</label>
            <input type="date" name="fecha_fin" class="form-control form-control-sm" required>
        </div>

        <div class="d-grid gap-2">

    <!-- PDF -->
    <button type="submit"
            formaction="{% url 'reclamo:reporte-pdf-consolidado-admin-sismed' %}"
            class="btn btn-danger btn-sm"
            title="Exportar PDF">
        <i class="la la-file-pdf-o"></i>
    </button>

    <!-- EXCEL -->
    <button type="submit"
            formaction="{% url 'reclamo:reporte-excel-consolidado-admin-sismed' %}"
            class="btn btn-success btn-sm"
            title="Exportar Excel">
        <i class="la la-file-excel-o"></i>
    </button>

</div>

    </form>

</div>
            </div>

            

        </div>
         

    </div>
</div>


 

   
{% endblock container %}


{% block static %}

 
{% endblock static %}



 