{% extends 'dashboard.html' %}
{% load static %}
{% block  container %}

    <style>
       
        




        .ui-menu > .ui-menu-item {
            border: 2px solid #0f95ac !important;
            width: 100% !important;
        }


        .ui-widget.ui-widget-content {
            width: 50% !important;
        }


        .highlighted {
            background-color: #21f3b4;
        }

        .highlight {
            background-color: #21f3b4;
            -moz-border-radius: 5px; /* FF1+ */
            -webkit-border-radius: 5px; /* Saf3-4 */
            border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
        }

        .highlight {
            padding: 1px 4px;
            margin: 0 -4px;
        }

        input[type=checkbox] {
            /* Double-sized Checkboxes */
            -ms-transform: scale(2); /* IE */
            -moz-transform: scale(2); /* FF */
            -webkit-transform: scale(2); /* Safari and Chrome */
            -o-transform: scale(2); /* Opera */
            transform: scale(2);
            padding: 10px;
        }

        /* Might want to wrap a span around your checkbox text */
        .form-check-input {
            /* Checkbox text */
            font-size: 110%;
            display: inline;
        }


        .list-group-item {
            border: 2px solid #545054 !important;
        }

        #conent-causas a:nth-child(even) {
            background: #bee0f6 !important;
        }


        input:invalid {
            border: 3px dashed red !important;
        }

        select:invalid {
            border: 3px dashed red !important;
        }

        textarea:invalid {
            border: 3px dashed red !important;
        }

        input:valid {
            border: 1px solid green;
        }

        select:valid {
            border: 1px solid green;
        }

        textarea:valid {
            border: 1px solid green;
        }


    </style>

    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                 
                                <li class="breadcrumb-item active"> </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-body">
                <section id="patients-list">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">

                                <div class="card-header">
                                    <h1 class=" mt-2"><b>Programación: </b>{{ object.codigo_programacion }}</h1>
                                </div>

                                <div class="card-content collapse show wizard">


                                    <div class="card-body">
                                        <form class="steps-validation wizard-notification" method="post" role="form"
                                              enctype="multipart/form-data" id="reclamo-new">
                                            <div hidden>
                                                {% include 'includes/bs4_form.html' with form=form col=4 include='entidad' start_tabindex="0" hidden="" %}
                                                {% include 'includes/bs4_form.html' with form=form col=4 include=inputs_hidden start_tabindex="0" hidden="" %}
                                            </div>
                                            {% csrf_token %}
                                             <h6 >✏️ INGRESE SUS DATOS ✏️</h6>
                                             <fieldset disabled>
                                                <div class="form-row">
                                                    {% include 'includes/bs4_form.html' with form=form col=4 include=paso_uno_programacion start_tabindex="1" hidden="" %}
                                                </div>
                                            </fieldset>

                                                 <!--  <h6>USUARIO AFECTADO</h6>
                                            <fieldset>
                                                <div class="form-row">
                                                    {% include 'includes/bs4_form.html' with form=form col=4 include=paso_dos start_tabindex="10" hidden="" %}
                                                </div>
                                            </fieldset>


                                              <h6>PRESENTA RECLAMO</h6>
                                            <fieldset>
                                                <div class="form-row text-center">
                                                    <div class="col-md-12">
                                                        <div class="form-check">
                                                            {{ form.es_mismo_usuario_afectado }}
                                                            <label class="form-check-label"
                                                                   for="same_user" style="
                                                                                    background-color: #3fe43f;
                                                                                    color: #2700ff;
                                                                                    padding: 2px 11px;
                                                                                    font-weight: 700;">
                                                                Es el mismo usuario afectado ?
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="divider">
                                                <div class="form-row">
                                                    {% include 'includes/bs4_form.html' with form=form col=4 include=paso_tres start_tabindex="15" hidden="" %}
                                                </div>
                                            </fieldset>


                                    <h6>DETALLE RECLAMO</h6>
                                            <fieldset>
                                                <div class="form-row">

                                                     {% include 'includes/bs4_form.html' with form=form col=4 include=paso_cuatro start_tabindex="15" hidden="" %}</div>
                                            </fieldset>


                                            <h6>GESTIÓN DE RECLAMO</h6>
                                            <fieldset>
                                                <div class="form-row">
                                                    {% include 'includes/bs4_form.html' with form=form col=4 include=paso_cinco start_tabindex="28" hidden="" %}
                                                </div>
                                            </fieldset>


                                           <h6>RESULTADO</h6>
                                            <fieldset>
                                                <div class="form-row">
                                                    {% include 'includes/bs4_form.html' with form=form col=4 include=paso_seis start_tabindex="35" hidden="" %}
                                                </div>
                                            </fieldset>-->

                                        </form>

                                        <div class=" float-md-right">
                                            <a href="{% url 'reclamo:programacion-list-atendidas' %} "
                                               class="btn btn-danger btn-sm mb-2">
                                                <i class="la la-arrow-left"></i>
                                                Volver</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 class="text-success cupos-success">
                        ¿ Desea guardar los cambios ?
                    </h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cupos-valid" data-dismiss="modal">Cancelar
                    </button>
                    <a type="button" style="color: #fff" class="btn btn-primary cupos-success" data-dismiss="modal"
                       id="confirmar">Confirmar </a>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="clasificacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar clasificación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-12 mb-1 mt-1">
                            <input name="buscar" placeholder="Buscar..." class="form-control" type="text" id="buscar"
                                   autocomplete="off">
                            <input name="numero-causa" id="numero-causa" hidden>
                        </div>
                    </div>
                    <div class="list-group" id="conent-causas">
                        {% for object in clasificaciones %}
                            <a href="#" data-pk="{{ object.id }}"
                               class="list-group-item list-group-item-action flex-column align-items-start item-causa">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ object.codigo }}</h5>
                                    <small>{{ object.get_categoria_display }}</small>
                                </div>
                                <h3>{{ object.causa }}</h3>
                                <p class="mb-1">{{ object.definicion }}</p>
                                {#                                <p class="mb-1">{{ object.definicion_corta }}</p>#}
                                <small>{{ object.definicion_corta }}</small>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock container %}

{% block static %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const risSelect = document.getElementById("id_ris");
    const entidadSelect = document.getElementById("id_entidad");
    const distritoInput = document.getElementById("id_distrito"); // campo distrito

    // Opciones según RIS
    const opcionesPorRis = {
        "1": [
            {value: 1, text: "C.S.M.C. BARRANCO", distrito: "BARRANCO"},
            {value: 2, text: "C.S. GAUDENCIO BERNASCONI", distrito: "BARRANCO"},
            {value: 3, text: "C.S. ALICIA LASTRES DE LA TORRE", distrito: "BARRANCO"},
            {value: 4, text: "C.S. GUSTAVO LANATTA LUJAN", distrito: "CHORRILLOS"},
            {value: 5, text: "C.M.I. VIRGEN DEL CARMEN", distrito: "CHORRILLOS"},
            {value: 6, text: "P.S. ARMATAMBO", distrito: "CHORRILLOS"},
            {value: 7, text: "C.E. SAN PEDRO DE LOS CHORRILL", distrito: "CHORRILLOS"},
            {value: 8, text: "C.M.I. BUENOS AIRES DE VILLA", distrito: "CHORRILLOS"},
            {value: 9, text: "C.S. DELICIAS DE VILLA", distrito: "CHORRILLOS"},
            {value: 10, text: "C.S. SAN GENARO DE VILLA", distrito: "CHORRILLOS"},
            {value: 11, text: "P.S. VISTA ALEGRE DE VILLA", distrito: "CHORRILLOS"},
            {value: 12, text: "P.S. SANTA ISABEL DE VILLA", distrito: "CHORRILLOS"},
            {value: 13, text: "C.S. TUPAC AMARU DE VILLA", distrito: "CHORRILLOS"},
            {value: 14, text: "P.S. SAN JUAN DE LA LIBERTAD", distrito: "CHORRILLOS"},
            {value: 15, text: "P.S. MATEO PUMACAHUA", distrito: "CHORRILLOS"},
            {value: 16, text: "P.S. SANTA TERESA DE CHORRILLOS", distrito: "CHORRILLOS"},
            {value: 17, text: "P.S. VILLA VENTURO", distrito: "CHORRILLOS"},
            {value: 18, text: "P.S. NUEVA CALEDONIA", distrito: "CHORRILLOS"},
            {value: 19, text: "P.S. LOS INCAS", distrito: "CHORRILLOS"},
            {value: 20, text: "P.S. DEFENSORES DE LIMA", distrito: "CHORRILLOS"},
            {value: 21, text: "C.S.M.C. SAN SEBASTIAN", distrito: "CHORRILLOS"},
            {value: 22, text: "C.S.M.C. COMUNITARIO NANCY REYES BAHAMONETE", distrito: "CHORRILLOS"},
            {value: 23, text: "C.S. SANTIAGO DE SURCO", distrito: "SURCO"},
            {value: 24, text: "P.S. SAN CARLOS", distrito: "SURCO"},
            {value: 25, text: "P.S. SAN ROQUE", distrito: "SURCO"},
            {value: 26, text: "P.S. LOS VIÑEDOS DE SURCO", distrito: "SURCO"},
            {value: 27, text: "P.S. LAS FLORES", distrito: "SURCO"},
            {value: 28, text: "P.S. LAS DUNAS", distrito: "SURCO"},
            {value: 132, text: "C.S.M.C  CRL. SAN. WILELMO PEDRO ZORRILLA HUAMAN", distrito: "CHORRILLOS"},
            {value: 138, text: "C.S.M.C. SAN IGNACIO DE SURCO", distrito: "SURCO"}
        ],
        "2": [
            {value: 102, text: "C.M.I. LURÍN", distrito: "LURIN"},
            {value: 103, text: "P.S. BUENA VISTA", distrito: "LURIN"},
            {value: 104, text: "CLAS JULIO C TELLO", distrito: "LURIN"},
            {value: 105, text: "C.S. VILLA ALEJANDRO", distrito: "LURIN"},
            {value: 106, text: "P.S. MARTHA MILAGROS BAJA", distrito: "LURIN"},
            {value: 107, text: "C.S. NUEVO LURIN KM. 40 (CLAS)", distrito: "LURIN"},
            {value: 111, text: "P.S.VILLA LIBERTAD (CLAS)", distrito: "LURIN"},
            {value: 124, text: "C.S. SAN BARTOLO", distrito: "LURIN"},
            {value: 125, text: "C.S. PUCUSANA", distrito: "LURIN"},
            {value: 126, text: "C.S. BENJAMÍN DOIG", distrito: "LURIN"},
            {value: 127, text: "P.S. PUNTA HERMOSA", distrito: "LURIN"},
            {value: 128, text: "C.S. PUNTA NEGRA", distrito: "LURIN"},
            {value: 129, text: "P.S. VILLA MERCEDES", distrito: "LURIN"},
            {value: 134, text: "CSMC  BALNEARIOS DEL SUR", distrito: "LURIN"},
            {value: 137, text: "CSMC SAN PEDRO DE LURIN", distrito: "LURIN"}
        ],
        "3": [
            {value: 108, text: "C.S.M.C. LA MEDALLA MILAGROSA", distrito: "PACHACAMAC"},
            {value: 109, text: "C.S.M.C. SANTA ROSA DE MANCHAY", distrito: "PACHACAMAC"},
            {value: 110, text: "C.S. PACHACAMAC", distrito: "PACHACAMAC"},
            {value: 112, text: "P.S. PAMPA GRANDE", distrito: "PACHACAMAC"},
            {value: 113, text: "P.S. QUEBRADA VERDE", distrito: "PACHACAMAC"},
            {value: 114, text: "P.S. GUAYABO", distrito: "PACHACAMAC"},
            {value: 115, text: "P.S. PICA PIEDRA", distrito: "PACHACAMAC"},
            {value: 116, text: "P.S. CARDAL", distrito: "PACHACAMAC"},
            {value: 117, text: "P.S. MANCHAY ALTO", distrito: "PACHACAMAC"},
            {value: 118, text: "P.S. TAMBO INGA", distrito: "PACHACAMAC"},
            {value: 119, text: "C.S. PORTADA DE MANCHAY", distrito: "PACHACAMAC"},
            {value: 120, text: "P.S. HUERTOS DE MANCHAY", distrito: "PACHACAMAC"},
            {value: 121, text: "C.S. CLAS JUAN PABLO II", distrito: "PACHACAMAC"},
            {value: 122, text: "P.S. COLLANAC", distrito: "PACHACAMAC"},
            {value: 123, text: "P.S. PARQUES DE MANCHAY", distrito: "PACHACAMAC"},
            {value: 135, text: "PS.BELLA ESMERALDA", distrito: "PACHACAMAC"}
        ],
        "4": [
            {value: 29, text: "C.S. SAN JUAN DE MIRAFLORES", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 30, text: "P.S. DESIDERIO MOSCOSO CASTILLO", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 31, text: "P.S. VILLA SOLIDARIDAD", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 32, text: "P.S. VALLE SHARON", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 33, text: "P.S. PAMPAS DE SAN JUAN", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 34, text: "C.S. TRÉBOL AZUL", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 35, text: "P.S. HÉROES DEL PACÍFICO", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 36, text: "P.S. PARAÍSO", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 37, text: "P.S. SANTA URSULA", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 38, text: "P.S. RICARDO PALMA", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 39, text: "P.S. LADERAS DE VILLA", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 40, text: "C.S. VILLA SAN LUIS", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 41, text: "C.S. LEONOR SAAVEDRA", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 42, text: "C.S. JESÚS PODEROSO", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 43, text: "P.S. EL BRILLANTE", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 44, text: "P.S. 6 DE JULIO", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 45, text: "C.M.I. MANUEL BARRETO", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 46, text: "P.S. VIRGEN DEL BUEN PASO", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 47, text: "P.S. SAN FRANCISCO DE LA CRUZ", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 48, text: "P.S. MARIANNE PREUSS DE STARK", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 49, text: "C.M.I. OLLANTAY", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 50, text: "P.S. LA RINCONADA", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 51, text: "P.S. LEONCIO PRADO", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 52, text: "P.S. JOSÉ M. ARGUEDAS", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 53, text: "P.S. 5 DE MAYO", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 63, text: "C.S.M.C. 12 DE NOVIEMBRE", distrito: "SAN JUAN DE MIRAFLORES"},
            {value: 136, text: "CSMC RICARDO PALMA", distrito: "SAN JUAN DE MIRAFLORES"}
        ],
        "5": [
    {value: 82, text: "C.M.I. SAN JOSÉ", distrito: "VILLA EL SALVADOR"},
    {value: 83, text: "P.S. SEÑOR DE LOS MILAGROS", distrito: "VILLA EL SALVADOR"},
    {value: 84, text: "P.S LLANAVILLA", distrito: "VILLA EL SALVADOR"},
    {value: 85, text: "C.S.M.C. EL SOL DE VILLA", distrito: "VILLA EL SALVADOR"},
    {value: 86, text: "C.S.M.C. VILLA EL SALVADOR", distrito: "VILLA EL SALVADOR"},
    {value: 87, text: "C.S. SAN MARTÍN DE PORRES", distrito: "VILLA EL SALVADOR"},
    {value: 88, text: "P.S. VIRGEN DE LA ASUNCIÓN", distrito: "VILLA EL SALVADOR"},
    {value: 89, text: "P.S. SAGRADA FAMILIA", distrito: "VILLA EL SALVADOR"},
    {value: 90, text: "C.M.I. JUAN PABLO II", distrito: "VILLA EL SALVADOR"},
    {value: 91, text: "P.S. FERNANDO LUYO SIERRA", distrito: "VILLA EL SALVADOR"},
    {value: 92, text: "P.S. CRISTO SALVADOR", distrito: "VILLA EL SALVADOR"},
    {value: 93, text: "P.S. SARITA COLONIA", distrito: "VILLA EL SALVADOR"},
    {value: 94, text: "P.S. OASIS DE VILLA", distrito: "VILLA EL SALVADOR"},
    {value: 95, text: "P.S. SASBI", distrito: "VILLA EL SALVADOR"},
    {value: 96, text: "C.M.I. CÉSAR LOPEZ SILVA", distrito: "VILLA EL SALVADOR"},
    {value: 97, text: "P.S. PRÍNCIPE DE ASTURIAS", distrito: "VILLA EL SALVADOR"},
    {value: 98, text: "P.S. PACHACAMAC", distrito: "VILLA EL SALVADOR"},
    {value: 99, text: "P.S. EDILBERTO RAMOS", distrito: "VILLA EL SALVADOR"},
    {value: 100, text: "C.S. HÉROES DEL CENEPA", distrito: "VILLA EL SALVADOR"},
    {value: 101, text: "C.S. BRISAS DE PACHACAMAC", distrito: "VILLA EL SALVADOR"},
    {value: 131, text: "C.S.M.C VIRGEN DE LA MERCED", distrito: "VILLA EL SALVADOR"}
],

"6": [
    {value: 54, text: "C.M.I. VILLA MARÍA DEL TRIUNFO", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 55, text: "P.S. 12 DE JUNIO", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 56, text: "P.S. SANTA ROSA DE BELÉN", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 57, text: "C.M.I. JOSÉ CARLOS MARIÁTEGUI", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 58, text: "P.S. VILLA LIMATAMBO", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 59, text: "P.S. JUAN CARLOS SOBERON", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 60, text: "P.S. BUENOS AIRES", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 61, text: "P.S. VALLE ALTO", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 62, text: "P.S. PARAÍSO ALTO", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 64, text: "P.S. VALLE BAJO", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 65, text: "C.M.I. JOSÉ GALVEZ", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 66, text: "P.S. MÓDULO I", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 67, text: "P.S. NUEVO PROGRESO", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 68, text: "P.S. CIUDAD DE GOSEN", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 69, text: "C.S. NUEVA ESPERANZA", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 70, text: "P.S. VIRGEN DE LOURDES", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 71, text: "P.S. CÉSAR VALLEJO II", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 72, text: "P.S. NUEVA ESPERANZA ALTA", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 73, text: "C.M.I. DANIEL A. CARRIÓN", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 74, text: "P.S. TORRES DE MELGAR", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 75, text: "P.S. MICAELA BASTIDAS", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 76, text: "C.M.I. TABLADA DE LURÍN", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 77, text: "P.S. SANTA ROSA DE LAS CONCHITAS", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 78, text: "C.S.M.C. SAN GABRIEL ALTO", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 79, text: "*** CAM. TAYTA WASI", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 80, text: "P.S. DAVID GUERRERO DUARTE", distrito: "VILLA MARIA DEL TRIUNFO"},
    {value: 81, text: "C.S.M.C. MONSEÑOR JOSE RAMON GURRUCHAGA", distrito: "VILLA MARIA DEL TRIUNFO"}
]
        
    };

    // Evento: cambiar RIS
    risSelect.addEventListener("change", function () {
        const risId = risSelect.value;
        entidadSelect.innerHTML = "";
        distritoInput.value = ""; // limpiar distrito

        if (opcionesPorRis[risId]) {
            // Opción vacía
            const emptyOption = document.createElement("option");
            emptyOption.value = 0;
            emptyOption.textContent = "------------";
            entidadSelect.appendChild(emptyOption);

            // Opciones
            opcionesPorRis[risId].forEach(opt => {
                const option = document.createElement("option");
                option.value = opt.value;
                option.textContent = opt.text;
                option.dataset.distrito = opt.distrito;
                entidadSelect.appendChild(option);
            });
        }
    });

    // Evento: cambiar entidad -> setear distrito
    entidadSelect.addEventListener("change", function () {
        const selectedOption = entidadSelect.options[entidadSelect.selectedIndex];
        distritoInput.value = selectedOption ? selectedOption.dataset.distrito : "";
    });

    // Limpiar al inicio
    entidadSelect.innerHTML = "";
});
</script>
 
    <script>


$("#content-id_fecha_reclamo").hide();

        $('input').keyup(function () {
            if ($(this).attr("type") === 'password' || $(this).attr("name") === 'username') {
            } else {
                $(this).val($(this).val().toUpperCase());
            }
        });

        $('textarea').keyup(function () {
            $(this).val($(this).val().toUpperCase());
        });


        $('label[for="id_clasificacion_reclamo_1"]').append(" <span data-toggle='modal' data-target='#clasificacionModal' data-numero='1' class='badge badge-success text-bold-700' style='cursor: pointer;'> <i class='ft-eye' ></i> Buscar </span>");

        $('label[for="id_clasificacion_reclamo_2"]').append(" <span data-toggle='modal' data-target='#clasificacionModal' data-numero='2' class='badge badge-success text-bold-700' style='cursor: pointer;'> <i class='ft-eye' ></i> Buscar </span>");

        $('label[for="id_clasificacion_reclamo_3"]').append(" <span data-toggle='modal' data-target='#clasificacionModal' data-numero='3' class='badge badge-success text-bold-700' style='cursor: pointer;'> <i class='ft-eye' ></i> Buscar </span>");


        $(function () {


            $('#buscar').keyup(function () {

                // Search text
                var text = $(this).val();

                // Hide all content class element
                $('.item-causa').hide();

                // Search
                $('.item-causa:contains("' + text + '")').closest('.item-causa').show();

                if (text === "") {
                    $('.item-causa').show();
                }
                $("#conent-causas").unhighlight();
                $("#conent-causas").highlight(text);
            });
        });


        $("#confirmar").click(function () {
            $('form#reclamo-new').submit();
        });

        $(".item-causa").click(function () {
            const pk = $(this).data("pk")

            $('#clasificacionModal').modal('toggle');
            {#$('form#prematricula-new').submit();#}

            const numero_causa = $("#numero-causa").val();

            if (numero_causa === '1') {
                $("#id_clasificacion_reclamo_1").val(pk);
            }
            if (numero_causa === '2') {
                $("#id_clasificacion_reclamo_2").val(pk);
            }
            if (numero_causa === '3') {
                $("#id_clasificacion_reclamo_3").val(pk);
            }

        });


        $('#clasificacionModal').on('show.bs.modal', function (e) {
            var numero = $(e.relatedTarget).data('numero');
            $("#numero-causa").val(numero);
            $('#buscar').val("");
            $('.item-causa').show();
            $("#conent-causas").unhighlight();
        });

        {#   Validando ruc   #}


        var usario_validar = (value) => {


            $("#content-id_nombres_usuario .danger").remove();
            $("#content-id_apellido_paterno_usuario .danger").remove();
            $("#content-id_apellido_materno_usuario .danger").remove();
            $("#content-id_razon_social_usuario .danger").remove();

            if (value === "8") {

                $("#id_razon_social_usuario").prop('required', true);
                $('label[for="id_razon_social_usuario"]').append("<span class='danger required_razon_social_usuario' >*</span>");

                $("#id_nombres_usuario").prop('required', false);
                $("#id_nombres_usuario-error").remove();

                $("#id_apellido_paterno_usuario").prop('required', false);
                $("#id_apellido_paterno_usuario-error").remove();

                $("#id_apellido_materno_usuario").prop('required', false);
                $("#id_apellido_materno_usuario-error").remove();

                {#$('#id_numero_documento_usuario').val("");#}
                $('#id_nombres_usuario').val("");
                $('#id_apellido_paterno_usuario').val("");
                $('#id_apellido_materno_usuario').val("");

                // Ocultar Inputs
                $("#content-id_nombres_usuario").hide();
                $("#content-id_apellido_paterno_usuario").hide();
                $("#content-id_apellido_materno_usuario").hide();
                $("#content-id_razon_social_usuario").show();
                // FIN ocultar

            } else {

                $("#id_razon_social_usuario").prop('required', false);
                $("#id_nombres_usuario").prop('required', false);
                $('label[for="id_nombres_usuario"]').append("<span class='danger required_nombres_usuario'>*</span>");
                $("#id_apellido_paterno_usuario").prop('required', false);
                $('label[for="id_apellido_paterno_usuario"]').append("<span class='danger required_apellido_paterno_usuario'>*</span>");
                $("#id_apellido_materno_usuario").prop('required', false);
                $('label[for="id_apellido_materno_usuario"]').append("<span class='danger required_apellido_materno_usuario'>*</span>");
                // Ocultar Inputs
                $("#content-id_nombres_usuario").show();
                $("#content-id_apellido_paterno_usuario").show();
                $("#content-id_apellido_materno_usuario").show();
                $("#content-id_razon_social_usuario").hide();
                // FIN ocultar
            }

        }


        var presenta_validar = (value) => {


            $("#content-id_nombres_presenta .danger").remove();
            $("#content-id_apellido_paterno_presenta .danger").remove();
            $("#content-id_apellido_materno_presenta .danger").remove();
            $("#content-id_razon_social_presenta .danger").remove();

            if (value === "8") {

                $("#id_razon_social_presenta").prop('required', true);
                $('label[for="id_razon_social_presenta"]').append("<span class='danger required_razon_social_presenta' >*</span>");

                $("#id_nombres_presenta").prop('required', false);
                $("#id_nombres_presenta-error").remove();

                $("#id_apellido_paterno_presenta").prop('required', false);
                $("#id_apellido_paterno_presenta-error").remove();

                $("#id_apellido_materno_presenta").prop('required', false);
                $("#id_apellido_materno_presenta-error").remove();

                {#$('#id_numero_documento_presenta').val("");#}
                $('#id_nombres_presenta').val("");
                $('#id_apellido_paterno_presenta').val("");
                $('#id_apellido_materno_presenta').val("");

                // Ocultar Inputs
                $("#content-id_nombres_presenta").hide();
                $("#content-id_apellido_paterno_presenta").hide();
                $("#content-id_apellido_materno_presenta").hide();
                $("#content-id_razon_social_presenta").show();
                // FIN ocultar
            } else {

                $("#id_razon_social_presenta").prop('required', false);

                $("#id_nombres_presenta").prop('required', false);
                $('label[for="id_nombres_presenta"]').append("<span class='danger required_nombres_presenta'>*</span>");

                $("#id_apellido_paterno_presenta").prop('required', false);
                $('label[for="id_apellido_paterno_presenta"]').append("<span class='danger required_apellido_paterno_presenta'>*</span>");

                $("#id_apellido_materno_presenta").prop('required', false);
                $('label[for="id_apellido_materno_presenta"]').append("<span class='danger required_apellido_materno_presenta'>*</span>");
             
 
                // Ocultar Inputs
                $("#content-id_nombres_presenta").show();
                $("#content-id_apellido_paterno_presenta").show();
                $("#content-id_apellido_materno_presenta").show();
                $("#content-id_razon_social_presenta").hide();
                // FIN ocultar
            }
        }


        $('#id_tipo_documento_usuario').change(function () {
            const id = $(this).val()
            usario_validar(id);
        });

        $('#id_tipo_documento_presenta').change(function () {
            const id = $(this).val()
            presenta_validar(id);
        });


        $('#id_es_mismo_usuario_afectado').change(function () {
            if (this.checked) {

                const id_tipo_documento_usuario = $('#id_tipo_documento_usuario').val();
                const id_numero_documento_usuario = $('#id_numero_documento_usuario').val();
                const id_razon_social_usuario = $('#id_razon_social_usuario').val();
                const id_nombres_usuario = $('#id_nombres_usuario').val();
                const id_apellido_paterno_usuario = $('#id_apellido_paterno_usuario').val();
                const id_apellido_materno_usuario = $('#id_apellido_materno_usuario').val();

                presenta_validar(id_tipo_documento_usuario);

                $('#id_tipo_documento_presenta').val(id_tipo_documento_usuario);
                $('#id_numero_documento_presenta').val(id_numero_documento_usuario);
                $('#id_razon_social_presenta').val(id_razon_social_usuario);
                $('#id_nombres_presenta').val(id_nombres_usuario);
                $('#id_apellido_paterno_presenta').val(id_apellido_paterno_usuario);
                $('#id_apellido_materno_presenta').val(id_apellido_materno_usuario);


            } else {
                $('#id_tipo_documento_presenta').val("");
                $('#id_numero_documento_presenta').val("");
                $('#id_razon_social_presenta').val("");
                $('#id_nombres_presenta').val("");
                $('#id_apellido_paterno_presenta').val("");
                $('#id_apellido_materno_presenta').val("");
            }
        });


        var updateDataUsuarioForm = (dni) => {
            $.ajax({
                type: 'GET',
                {#crossDomain: true,#}
                dataType: 'json',
                url: "/reclamo/validar-persona/" + dni,
                data: {},
                success: function (data) {
                    if (data) {
                        if (data.estado === true) {
                            $('#id_nombres_usuario').val(data.persona.nombres);
                            $('#id_apellido_paterno_usuario').val(data.persona.apellido_paterno);
                            $('#id_apellido_materno_usuario').val(data.persona.apellido_materno);
                        }
                    }
                }
            });
        };


        var updateDataPresentaForm = (dni) => {
            $.ajax({
                type: 'GET',
                {#crossDomain: true,#}
                dataType: 'json',
                url: "/reclamo/validar-persona/" + dni,
                data: {},
                success: function (data) {
                    if (data) {
                        if (data.estado === true) {
                            $('#id_nombres_presenta').val(data.persona.nombres);
                            $('#id_apellido_paterno_presenta').val(data.persona.apellido_paterno);
                            $('#id_apellido_materno_presenta').val(data.persona.apellido_materno);
                        }
                    }
                }
            });
        };

        $("#id_numero_documento_usuario").keyup(function () {
            const dni = $(this).val();
            const id_tipo_documento_usuario = $("#id_tipo_documento_usuario").val();

            if (dni.length === 8) {
                if (id_tipo_documento_usuario === "8") {
                    $('#id_nombres_usuario').val("");
                    $('#id_apellido_paterno_usuario').val("");
                    $('#id_apellido_materno_usuario').val("");
                } else {
                    updateDataUsuarioForm(dni);
                }
            } else {
                $('#id_nombres_usuario').val("");
                $('#id_apellido_paterno_usuario').val("");
                $('#id_apellido_materno_usuario').val("");
            }
        });


        $("#id_numero_documento_presenta").keyup(function () {
            const dni = $(this).val();
            const id_tipo_documento_presenta = $("#id_tipo_documento_presenta").val();

            if (dni.length === 8) {
                if (id_tipo_documento_presenta === "8") {
                    $('#id_nombres_presenta').val("");
                    $('#id_apellido_paterno_presenta').val("");
                    $('#id_apellido_materno_presenta').val("");
                } else {
                    updateDataPresentaForm(dni);
                }
            } else {
                $('#id_nombres_presenta').val("");
                $('#id_apellido_paterno_presenta').val("");
                $('#id_apellido_materno_presenta').val("");
            }
        });


        var autorizacion_correo_validar = (value) => {
            if (value === "0") {
                $("#id_correo_presenta").prop('required', true);
                $('label[for="id_correo_presenta"]').append("<span class='danger required_correo_presenta'>*</span>");
                $("#content-id_correo_presenta").show();
            } else {
                $("#id_correo_presenta").prop('required', false);
                $(".required_correo_presenta").remove();
                $("#content-id_correo_presenta").hide();
            }
        }

        $('#id_autorizacion_notificacion_correo').change(function () {
            const id = $(this).val()
            autorizacion_correo_validar(id);
        });


        {#Paso 5 "Gestión del Reclamo"#}

        {#quitar traslado de estado del reclamo#}

        const habilitarTrasladoEstadosReclamo = () => {
            $('#id_estado_reclamo').append($('<option>', {value: 3, text: 'TRASLADADO'}));
            $('#id_estado_reclamo option[value="3"]').attr("selected", "selected");
            $('option', '#id_estado_reclamo').not(':eq(0), :selected').remove();
        }


        const quitandoTrasladoEstadosReclamo = () => {
            /*
            var exists = $('#id_estado_reclamo option').filter(function () {
                return $(this).val() === "3";
            }).length;
            if (exists) {
                $("#id_estado_reclamo option[value='3']").remove();
            }*/
            const estados = $('#id_estado_reclamo');

            estados.append($('<option>', {value: 1, text: 'RESUELTO'}));
            estados.append($('<option>', {value: 2, text: 'EN TRAMITE'}));
            estados.append($('<option>', {value: 4, text: 'ARCHIVADO POR DUPLICIDAD'}));
            estados.append($('<option>', {value: 5, text: 'ACUMULADO'}));
            estados.append($('<option>', {
                value: 6,
                text: 'CONCLUIDO (CUANDO EL RESULTADO ES COMUNICADO AL RECLAMANTE O TERCERO LEGITIMADO)'
            }));


        }

        const validarCodigoPrimigenioPorEstado = id => {



            $("#id_codigo_reclamo_primigenio").attr("required", "required");


            $("#content-id_codigo_reclamo_primigenio .danger").remove();

            if (id == "3" || id == "4" || id == "5") {


                $("#id_codigo_reclamo_primigenio").prop('required', true);
                $('label[for="id_codigo_reclamo_primigenio"]').append("<span class='danger required_codigo_reclamo_primigenio'>*</span>");
                $("#content-id_codigo_reclamo_primigenio").show();


                const current_text = $('#reclamo-new-t-4 .current-info').text();
                if (current_text !== "") {
                    $('.actions ul ').children().eq(1).css('display', 'none');
                    $('.actions ul ').children().eq(2).css('display', '');
                }


                $("#content-id_resultado_reclamo .danger").remove();
                $("#content-id_fecha_resultado_reclamo .danger").remove();
                $("#id_resultado_reclamo").prop('required', false);
                $("#id_fecha_resultado_reclamo").prop('required', false);


                {#$('.actions ul ').children().eq(1).children("a").text("Finalizar registro");#}

                {#$('.actions ul ').children().eq(1).html("<a href='#finish' role='menuitem'>Finalizar registro</a>");#}
            } else {
                $("#id_codigo_reclamo_primigenio").prop('required', false);
                $(".required_codigo_reclamo_primigenio").remove();
                $("#content-id_codigo_reclamo_primigenio").hide();

                $('.actions ul ').children().eq(1).css('display', '');
                $('.actions ul ').children().eq(2).css('display', 'none');

                {#$('.actions ul ').children().eq(1).children("a").prop("href", "#next");#}
                {#$('.actions ul ').children().eq(1).children("a").text("Siguiente");#}
            }
        }

        const validarCompetenciaReclamo = id => {

            $('option', '#id_estado_reclamo').remove();
            if (id === "2") {

                habilitarTrasladoEstadosReclamo();
                {#Ocultar inputs y no required#}

                $("#id_etapa_reclamo").prop('required', false);
                $(".required_etapa_reclamo").remove();
                $("#content-id_etapa_reclamo").hide();

                {#Habilitar inputs#}

                $("#id_tipo_administrado_traslado").prop('required', true);
                $('label[for="id_tipo_administrado_traslado"]').append("<span class='danger required_tipo_administrado_traslado'>*</span>");
                $("#id_codigo_administrado_deriva").prop('required', true);
                $('label[for="id_codigo_administrado_deriva"]').append("<span class='danger required_codigo_administrado_deriva'>*</span>");
                $("#content-id_tipo_administrado_traslado").show();
                $("#content-id_codigo_administrado_deriva").show();


                validarCodigoPrimigenio(3);


            } else {
                quitandoTrasladoEstadosReclamo();
                $("#id_tipo_administrado_traslado").prop('required', false);
                $(".required_tipo_administrado_traslado").remove();
                $("#id_codigo_administrado_deriva").prop('required', false);
                $(".required_codigo_administrado_deriva").remove();
                $("#content-id_tipo_administrado_traslado").hide();
                $("#content-id_codigo_administrado_deriva").hide();
                {#Habilitar inputs#}

                $("#id_etapa_reclamo").prop('required', true);
                $('label[for="id_etapa_reclamo"]').append("<span class='danger required_etapa_reclamo'>*</span>");

                $("#content-id_etapa_reclamo").show();

            }


        }

        const validarResultadoReclamo = id => {


            $("#content-id_fecha_resultado_reclamo .danger").remove();
            $("#id_fecha_resultado_reclamo").prop('required', false);

            if (id == "0") {
                $("#content-id_motivo_conclusion_anticipada").hide();
                $("#content-id_fecha_resultado_reclamo").hide();
                $("#content-id_comunicacion_resultado_reclamo").hide();
                $("#content-id_fecha_notificacion").hide();
            } else {
                $("#content-id_motivo_conclusion_anticipada").show();
                $("#content-id_fecha_resultado_reclamo").show();
                $("#content-id_comunicacion_resultado_reclamo").show();
                $("#content-id_fecha_notificacion").show();
                    $("#id_fecha_resultado_reclamo").prop('required', true);
                    $('label[for="id_fecha_resultado_reclamo"]').append("<span class='danger required_codigo_administrado_deriva'>*</span>");

            }


        }


        const validarResultadoReclamoPorEstado = id => {
            $("#content-id_resultado_reclamo .danger").remove();
            $("#content-id_fecha_resultado_reclamo .danger").remove();
            $("#id_resultado_reclamo").prop('required', false);
            $("#id_fecha_resultado_reclamo").prop('required', false);

            if (!(id < 6 && id > 3)) {
                $("#id_resultado_reclamo").prop('required', true);

                $('label[for="id_resultado_reclamo"]').append("<span class='danger required_resultado_reclamo'>*</span>");

                if ($("#id_resultado_reclamo").val() === 5) {
                    $("#id_fecha_resultado_reclamo").prop('required', true);
                    $('label[for="id_fecha_resultado_reclamo"]').append("<span class='danger required_fecha_resultado_reclamo'>*</span>");

                }
            }
        }


        const validandoMedioRecepcionReclamo = (id) => {


            $('option', '#id_medio_recepcion_reclamo').remove();


            const estados = $('#id_medio_recepcion_reclamo');
            estados.append($('<option>', {value: "", text: '---------'}));


            if (id == 1) {
                estados.append($('<option>', {value: 1, text: 'LIBRO DE RECLAMACIONES VIRTUAL'}));
                estados.append($('<option>', {value: 6, text: 'RECLAMO TRASLADO DE OTRA ADMINISTRADA'}));
                estados.append($('<option>', {value: 7, text: 'RECLAMO COPARTICIPADO CON OTRA ADMINISTRADA'}));
            }

            if (id == 2) {
                estados.append($('<option>', {value: 2, text: 'LIBRO DE RECLAMACIONES FÍSICO'}));
                estados.append($('<option>', {value: 4, text: 'RECLAMO PRESENCIAL'}));
                estados.append($('<option>', {value: 5, text: 'DOCUMENTO ESCRITO'}));
                estados.append($('<option>', {value: 6, text: 'RECLAMO TRASLADO DE OTRA ADMINISTRADA'}));
                estados.append($('<option>', {value: 7, text: 'RECLAMO COPARTICIPADO CON OTRA ADMINISTRADA'}));
            }

            if (id == 3) {
                estados.append($('<option>', {value: 3, text: 'LLAMADA TELEFÓNICA'}));
            }


        }


         

        const validarEtapaPorEstadoReclamo = id => {


            $('option', '#id_etapa_reclamo').remove();

            const estados = $('#id_etapa_reclamo');

            estados.append($('<option>', {value: "", text: '---------'}));


            if (id == "1") {
                estados.append($('<option>', {value: 3, text: 'RESULTADO Y NOTIFICACIÓN'}));
            }

            if (id == "2") {
                estados.append($('<option>', {value: 1, text: 'ADMISIÓN Y REGISTRO'}));
                estados.append($('<option>', {value: 2, text: 'EVALUACIÓN E INVESTIGACIÓN'}));
            }

            if (id == "3" || id == "4" || id == "5" || id == "6") {
                estados.append($('<option>', {value: 4, text: 'ARCHIVO Y CUSTODIA DEL EXPEDIENTE'}));
            }


        }



        


        const validarResultadoPorEtapa = id => {


            $("#content-id_resultado_reclamo").show();

            const id_resultado_reclamo = $("#id_resultado_reclamo").val();
            $('option', '#id_resultado_reclamo').remove();
            const estados = $('#id_resultado_reclamo');
            estados.append($('<option selected>', {value: "", text: '---------'}));
            if (id == "3" || id == "4") {
                estados.append($('<option>', {value: 1, text: 'FUNDADO'}));
                estados.append($('<option>', {value: 2, text: 'FUNDADO PARCIAL'}));
                estados.append($('<option>', {value: 3, text: 'INFUNDADO'}));
                estados.append($('<option>', {value: 4, text: 'IMPROCEDENTE'}));
                estados.append($('<option>', {value: 5, text: 'CONCLUIDO ANTICIPADAMENTE'}));
            } else if (id == "1" || id == "2") {
                estados.append($('<option>', {value: 0, text: 'PENDIENTE'}));
            } else {
                $("#id_resultado_reclamo").prop('required', false);
                $(".required_resultado_reclamo").remove();
                $("#content-id_resultado_reclamo").hide();
            }
            if (id_resultado_reclamo) {
                $("#id_resultado_reclamo").val(id_resultado_reclamo);
            }

            const id_estado_reclamo = $("#id_estado_reclamo").val()

            if (Number(id_estado_reclamo) > 2 && Number(id_estado_reclamo) <= 5) {
                if (id == "2" || id == "4") {
                    $("#id_resultado_reclamo").prop('required', false);
                    $(".required_resultado_reclamo").remove();
                    $("#content-id_resultado_reclamo").hide();
                }
            }


        }


        const validarMotivoPorResultado = id => {
            $("#content-id_motivo_conclusion_anticipada").hide()

            $("#content-id_motivo_conclusion_anticipada .danger").remove();
            $("#id_motivo_conclusion_anticipada").prop('required', false);

            if (id == 5) {
                $("#content-id_motivo_conclusion_anticipada").show()
                $("#id_motivo_conclusion_anticipada").prop('required', true);
                $('label[for="id_motivo_conclusion_anticipada"]').append("<span class='danger required_motivo_conclusion_anticipada'>*</span>");
            } else {
                $('#id_motivo_conclusion_anticipada').val("");
            }

        }


        $('#id_competencia_reclamo').change(function () {
            const id = $(this).val();
            validarCompetenciaReclamo(id);
        });

        $('#id_estado_reclamo').change(function () {
            const id = $(this).val();
            validarCodigoPrimigenioPorEstado(id);
            validarResultadoReclamoPorEstado(id);
            validarEtapaPorEstadoReclamo(id);
        });

        


        $('#id_resultado_reclamo').change(function () {
            const id = $(this).val();
            validarResultadoReclamo(id);
            validarMotivoPorResultado(id);
        });


        $('#id_medio_presentacion').change(function () {
            const id = $(this).val();
            validandoMedioRecepcionReclamo(id);
        });


        

        $('#id_etapa_reclamo').change(function () {
            const id = $(this).val();
            validarResultadoPorEtapa(id);
        });


        // Ejecutar cuando carga la página

        $(document).ready(function () {

            const id_tipo_documento_usuario = $("#id_tipo_documento_usuario").val();
            const id_tipo_documento_presenta = $("#id_tipo_documento_presenta").val();
            const id_medio_presentacion = $("#id_medio_presentacion").val();
            const id_nombre = $("#id_nombre").val();


            if (id_medio_presentacion) {
                validandoMedioRecepcionReclamo(id_medio_presentacion);
            }

            

            if (id_tipo_documento_usuario) {
                usario_validar(id_tipo_documento_usuario);
            }

            if (id_tipo_documento_presenta) {
                presenta_validar(id_tipo_documento_presenta);
            }

            const id_autorizacion_notificacion_correo = $('#id_autorizacion_notificacion_correo').val();
            if (id_autorizacion_notificacion_correo) {
                autorizacion_correo_validar(id_autorizacion_notificacion_correo);
            }

            const id_competencia_reclamo = $('#id_competencia_reclamo').val();
            if (id_competencia_reclamo) {
                validarCompetenciaReclamo(id_competencia_reclamo);
            }

            const id_estado_reclamo = $('#id_estado_reclamo').val();
            if (id_estado_reclamo) {
                validarCodigoPrimigenioPorEstado(id_estado_reclamo);
                validarEtapaPorEstadoReclamo(id_estado_reclamo);
            }

             

            const id_etapa_reclamo = $('#id_etapa_reclamo').val();
            if (id_etapa_reclamo) {
                validarResultadoPorEtapa(id_etapa_reclamo);
            }


            const id_resultado_reclamo = $('#id_resultado_reclamo').val();
            if (id_resultado_reclamo) {
                validarResultadoReclamo(id_resultado_reclamo);
                validarMotivoPorResultado(id_resultado_reclamo);
            }


        });


    </script>
 



    {% if form.instance.pk %}
        <script>
            $(document).ready(function () {
                var estado_reclamo = $('#id_estado_reclamo').val("{{ form.estado_reclamo.value }}");


                validarResultadoReclamoPorEstado(estado_reclamo);


                $('.actions ul li a').click(function () {
                    const current_text = $('#reclamo-new-t-4 .current-info').text();
                    if (current_text !== "") {
                        const id_estado_reclamo = $('#id_estado_reclamo').val();
                        if (id_estado_reclamo) {
                            validarCodigoPrimigenioPorEstado(id_estado_reclamo);
                            validarEtapaPorEstadoReclamo(id_estado_reclamo);

                             setTimeout(() => {
                                 $("#id_etapa_reclamo").val("{{ form.etapa_reclamo.value }}");
                                 $("#id_medio_recepcion_reclamo").val("{{ form.medio_recepcion_reclamo.value }}");
                }, 150)
                        }
                    }
                });


                setTimeout(() => {
                    $("#id_etapa_reclamo").val("{{ form.etapa_reclamo.value }}");
                    $("#id_medio_recepcion_reclamo").val("{{ form.medio_recepcion_reclamo.value }}");
                }, 1500)

            });
        </script>
    {% else %}
        <script>
            $("#id_resultado_reclamo").prop('required', true);
            $("#id_fecha_resultado_reclamo").prop('required', true);
            $('label[for="id_resultado_reclamo"]').append("<span class='danger required_resultado_reclamo'>*</span>");
            $('label[for="id_fecha_resultado_reclamo"]').append("<span class='danger required_fecha_resultado_reclamo'>*</span>");
        </script>
    {% endif %}




 

     
{% endblock static %}