{% extends 'dashboard.html' %}
{% load paginator i18n %}
{% block  container %}

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Configuraciones</li>
                                <li class="breadcrumb-item active">Usuarios</li>
                                <li class="breadcrumb-item active">{{ title }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="content-header-right col-md-6 col-12">
                    <div class=" float-md-right">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <a href="{% url 'usuario:new' %}" class="btn btn-success  btn-block">
                                <i class="la la-plus  font-small-2"></i>Nuevo usuario</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-body">
                <section id="patients-list">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="card-title">{{ title }}
                                        <strong class="text-primary">({{ page_obj.paginator.count }})</strong></h2>
                                </div>
                                <div class="card-body collapse show">
                                    <div class="row">
                                        <div class="col-md-2 " hidden>
                                            {% include 'genericfilters/filter_list.html' %}
                                        </div>
                                        <div class="col-md-12">
                                            {% trans "Nombres, Apellidos o DNI " as placeholder %}
                                            {% include 'genericfilters/query_filter.html' %}
                                            <div class="table-responsive">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered patients-list">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Nombres y Apellidos</th>
                                                            <th>Usuario</th>
                                                            <th>Dependencia</th>
                                                            <th>RIS</th>
                                                            <th>Roles</th>
                                                            <th>Opc.</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        {% for object in object_list %}
                                                            <tr>
                                                                <th>{{ forloop.counter0|add:page_obj.start_index }}</th>
                                                                <td>{{ object.get_full_name }}</td>
                                                                <td>{{ object.username }}</td>
                                                                <td>{{ object.entidad|default_if_none:"----------" }}</td>
                                                                <td>{{ object.get_ris_display }}</td>
                                                                <td>
                                                                    {% for g in object.groups.all %}
                                                                        <span class="badge badge-info">{{ g.name }}</span>
                                                                    {% endfor %}
                                                                </td>
                                                                <td class="text-center">
                                                                    <a href="{% url 'usuario:edit' object.id %}"
                                                                       class="btn btn-warning btn-sm"
                                                                       data-toggle="tooltip" data-placement="top"
                                                                       title="Editar Usuario">
                                                                        <i class="ft ft-edit font-medium-2 "> </i>
                                                                    </a>
                                                                </th>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                               <!-- paginator-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock container %}

{% block static %}

{% endblock static %}
