<div class="form-group col-md-4">
    <label for="id_country">País</label>
    <select class="form-control" id="id_country" required="required" name="{{ prefix }}country"
            tabindex="{{ start_tabindex|add:1 }}"></select>
</div>
<div class="form-group col-md-4">
    <label for="id_department">Departamento</label>
    <select class="form-control" id="id_department" required="required" name="{{ prefix }}department"
            tabindex="{{ start_tabindex|add:2 }}"></select>
</div>
<div class="form-group col-md-4">
    <label for="id_province">Provincia</label>
    <select class="form-control" id="id_province" required="required" name="{{ prefix }}province"
            tabindex="{{ start_tabindex|add:3 }}"></select>
</div>
<div class="form-group col-md-4">
    <label for="id_district">Distrito</label>
    <select class="form-control" id="id_district" required="required" name="{{ prefix }}district"
            tabindex="{{ start_tabindex|add:4 }}"></select>
</div>


