{% extends 'base.html' %}
{% load static %}

{% block  main %}

    <style>
        html body.fixed-navbar {
            padding-top: 0 !important;
        }
    </style>


    <div class="content-spinner" id="content-spinner">
        <div class="text-center " style="margin-top: 10%">
            <div class="spinner"></div>
            <div style="background-color: #fff">
                <h1 class="text-danger"> Enviando información... </h1>
            </div>
        </div>
    </div>

    <div class="app-content content" style="margin-left: 0 !important;">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-body">
                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="{% static 'img/logo_diris.png' %}" alt="logo" width="460"
                                             class="img-fluid">
                                    </div>
                                    <h6 class="card-subtitle text-muted text-center pt-2">
                                        <span class="font-weight-bold">CONVOCATORIA CAS 2021-1</span></h6>
                                </div>

                                <div class="card-body collapse show">
                                    <div class="PasswordResetForm">
                                        <div class="row">
                                            <div class="col-md-4 offset-md-4">
                                                <p>Ingrese su correo electrónico y le enviarémos las instrucciones para
                                                    recuperar su contraseña.</p>

                                                <form method="post" class="text-center">
                                                    {% csrf_token %}


                                                    {% include 'includes/bs4_form.html' with form=form col=12 include='' exclude='' start_tabindex="1" hidden=" " %}

                                                    {#                                                #}
                                                    {#                                                    {% if form.non_field_errors %}#}
                                                    {#                                                        <div class="form-group">#}
                                                    {#                                                            {{ form.non_field_errors }}#}
                                                    {#                                                        </div>#}
                                                    {#                                                    {% endif %}#}
                                                    {#                                                    {% for field in form.visible_fields %}#}
                                                    {#                                                        <div class="form-group">#}
                                                    {#                                                            {{ field.label_tag }}#}
                                                    {#                                                            {{ field }}#}
                                                    {#                                                            {{ field.errors }}#}
                                                    {#                                                            <div class="helpText">{{ field.help_text|safe }}</div>#}
                                                    {#                                                        </div>#}
                                                    {#                                                    {% endfor %}#}

                                                    <a href="{% url 'index:index' %}"
                                                       class="btn btn-danger">Cancelar</a>

                                                    <button type="submit" class="btn btn-success"
                                                            onclick="send_post()">Recuperar contraseña
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


{% endblock %}

{% block static %}


    <script>

        $("#content-spinner").hide();

        var send_post = () => {

            var list_inpust_invalid = document.querySelectorAll("input:invalid");

            if (list_inpust_invalid.length === 0) {
                $("#content-spinner").show();
                {#$("#guardar_form").click();#}
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("body").offset().top
                }, 1000);
            }
        }
    </script>

    {#    <script type="application/javascript">#}
    {#        $('#cancel').click(function () {#}
    {#            parent.history.back();#}
    {#            return false;#}
    {#        });#}
    {#    </script>#}
{% endblock static %}