{% extends 'dashboard.html' %}

{% block  container %}


    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">

                </div>
            </div>

            <div class="content-body">
                <div class="card text-white bg-danger mb-3" style="margin: 50px">
                    <div class="card-body text-center">
                        <form method="post">{% csrf_token %}
                            <h3 class="text-white"> Está seguro que desea eliminar la evaluación?</h3>
                            <button type="button" class="btn btn-default" id="cancel">Cancelar</button>
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock container %}

{% block static %}

    <script type="application/javascript">
        $('#cancel').click(function () {
            parent.history.back();
            return false;
        });
    </script>
{% endblock static %}
